<template name="form">
	<div id="form" class="form-inline" style="display:none;">	
	  <legend>Add New Song</legend>
	  <input type="text" id="url" placeholder="song url here"/>
	  <input type="button" class="btn btn-success" value="Add" />
	</div>
</template>