<template name='list'>
	{{#each songs}}
		<img src="{{thumbnail}}" height="340" width="195" style="border-style:solid;border-width:5px;" onclick="Template.list.playSong('{{url}}');"/>
		{{#if currentUser}}
			<a class="icon-remove" onclick="Template.list.removeSong('{{url}}')" />
		{{/if}}
	{{/each}}		
</template>