<template name="tv">
	<div id='player'>
		<iframe title='YouTube video player' class='youtube-player' style='border-style:solid;border-width:5px;' type='text/html' width='340' height='250' src='' frameborder='0' allowFullScreen scrolling='no' srcdoc='<h3>TV SCREEN</h3>'>
	</div>	
</template>