<head>
  <title>musicapp</title>
</head>

<body>
  {{>login}}
  <div class="container-fluid">
    <div class="page-header">
  	 <h1 class="text-success">Music Web Player</h1>
    </div>
  	<div class="row-fluid">
      <div class="span9" style="height: 600px;overflow-y: scroll;">
        {{>list}}
      </div>
      <div class="span3">
        {{>tv}}
        {{>form}}
      </div>
    </div>
  </div>
</body>